<section id="navbar">
    <header>
        <nav>
            <ul class="nav-bar">
                <a href="/"><div class="logo-container"><img src="{{logoSrc}}" alt="site-logo"></div></a>
                <input type="checkbox" class="check" id="check"><a href="/" style="text-decoration: none;"></a>
                <span class="menu">
                    <label for="check" class="close-menu"><img src="{{closeMenuSrc}}" alt="close-menu-button"></label>
                    <ul>
                        {{#each links}}
                            <li>
                                <a class="{{this.class}}" href="{{this.href}}" {{#if this.target}}target="{{this.target}}"{{/if}}>
                                    {{#if this.src}}
                                        <img src="{{this.src}}" alt="{{this.alt}}" class="nav-image">
                                    {{else}}
                                        <h1 class="nav-label" style="{{this.style}}">{{this.text}}</h1>
                                    {{/if}}
                                    {{#if this.condition}}
                                        <a class="nav-button" href="/log-in" style="color: #016FB9;">Login</a>
                                        <a class="nav-account" href="/sign-in"><h1>Cadastre-se</h1></a>
                                    {{/if}}
                                    {{#if this.logged}}
                                        <a class="nav-label" href="/perfil">
                                            <div class="nav-profile">
                                                <h1>{{this.usename}}</h1>
                                                <img src="{{userProfile}}" alt="profile-image">
                                            </div>
                                        </a>
                                    {{/if}}
                                </a>
                            </li>
                        {{/each}}
                    </ul>
                </span>
                <label for="check" class="open-menu"><img src="{{openMenuSrc}}" alt="open-menu-button"></label>
            </ul>
        </nav>
    </header>
</section>
